<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>::game_title::</title>
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
        <script src="http://livejs.com/live.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div id="map">
            <div id="conversation">
                <div id="narration">
                    
                </div>
            </div>
            <div class="auto-center">
                <ul id="choice" class="choices">
                    
                </ul>
            </div>
            
            <div class="auto-center">
                <div id="title-overlay">
                    
                </div>
            </div>
            
        </div>
        
        <script src="sd2.js"></script>
    </body>
</html>